/* WIDTH E HEIGHTLAYOUT ESERCITAZIONE 16/03*/

.bg-green{
    background-color: #1ABC9C;
    color: #ffffff;
}
.bg-dark{
    background-color: #3A546D;;
}
.bg-darker{
    background-color: #2C3E50;
}


.navbar-styled{
    background-color: #3A546D;
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-styled a{
    color: #ffffff;
}
.navbar-toggle>.icon-bar{
    background-color: white;   
}


.section{
    padding-top: 20px;
    padding-bottom: 20px;
}


.img-box{
    max-width: 200px;
    padding: 5px;
}
.img-star{
    display: inline;
    margin: 0 5px;
    max-width: 25px;
}
.star-break{
    margin-bottom: 10px;
}
span.line-white{
    margin-right: 5px;
    margin-left: 5px;
    width: 80px;
    display: inline-block;
    background-color: #ffffff;
    border-top: 0.5px solid #ffffff;
    border-bottom: 0.5px solid #ffffff; 
}
span.line-blue{
    margin-right: 5px;
    margin-left: 5px;
    width:80px;
    display: inline-block;
    background-color: #2C3E50;
    border-top: 0.5px solid #2C3E50;
    border-bottom: 0.5px solid #2C3E50; 
}
.portfolio-section img.img-portfolio{
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn-download{
    background-color: transparent;
    border-color: #ffffff;
    margin-top: 10px;
}
.btn-download:hover, .btn-download:focus,
.btn-send:hover, .btn-send:focus{
    color: #ffffff;
    background-color: #568a80;
}
form .my-form-control{
    border-radius: 0;
    border-top:none;
    border-left:none;
    border-right:none;
}
form .my-form-control::placeholder{
    color:#2C3E50;
}
.btn-send{
    background-color:  #1ABC9C;
    border-color:  #1ABC9C;
    color: #ffffff;
    margin-top: 10px;
}


footer{
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer .copyright{
    padding: 20px 0;
}
footer .footer-img-box{
    max-width: 35px;
    max-height: 35px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
    margin-left: 5px;
}

